Healthcare_for_all.csv
1-all_cat_clean.csv
1-clean_categorical.csv
2-all_cat_clean.csv
2-clean_numerical.csv
categorical.csv
numerical.csv
cache/3-X_train.csv
cache/3-y_train.csv
cache/3-X_test.csv
cache/3-y_test.csv
target.csv
.DS_Store